In [2]:
import pandas as pd

In [3]:
import sqlite3
conn = sqlite3.connect('sqlite-database.db')
jobs = pd.read_sql_query("SELECT * from github_job", conn, parse_dates=[])

,org,repo,runid,id,name,started,completed,status,conclusion
0,apache,ozone,227888138,1039301481,close-pending,2020-08-28T00:35:50Z,2020-08-28T00:36:08Z,completed,success
1,apache,ozone,241142698,1076688061,close-pending,2020-09-06T00:37:28Z,2020-09-06T00:37:32Z,completed,success
2,apache,ozone,403256260,1504965331,close-pending,2020-12-06T00:40:02Z,2020-12-06T00:40:07Z,completed,success
3,apache,ozone,404716756,1507954302,close-pending,2020-12-07T00:39:39Z,2020-12-07T00:39:44Z,completed,success
4,apache,ozone,407113882,1514396151,close-pending,2020-12-08T00:43:42Z,2020-12-08T00:43:47Z,completed,success
...,...,...,...,...,...,...,...,...,...
155438,apache,ozone,774187248,2410191877,acceptance (unsecure),2021-04-22T12:46:26Z,2021-04-22T13:24:58Z,completed,cancelled
155439,apache,ozone,774187248,2410191920,acceptance (misc),2021-04-22T12:44:25Z,2021-04-22T13:24:40Z,completed,failure
155440,apache,ozone,774187248,2410192015,kubernetes,2021-04-22T12:48:04Z,2021-04-22T12:58:32Z,completed,success
155441,apache,ozone,774187248,2410626402,coverage,2021-04-22T13:34:07Z,2021-04-22T13:34:07Z,completed,skipped
155442,apache,ozone,774187263,2410110125,cancel,2021-04-22T12:34:05Z,2021-04-22T12:34:12Z,completed,success

In [100]:
res = runs[["jobseconds"]].groupby(runs.createdat.dt.strftime('%Y-%m')).sum()
res["jobhours"] = res.jobseconds / 60 / 60 / 24

In [101]:
res.tail(20)

           jobseconds    jobhours
createdat
2019-12       1129744   13.075741
2020-01       2412439   27.921748
2020-02       7019096   81.239537
2020-03      11832211  136.946887
2020-04      12155015  140.683044
2020-05       9785157  113.254132
2020-06      15580968  180.335278
2020-07      16642254  192.618681
2020-08      11023802  127.590301
2020-09      13562475  156.973090
2020-10      10602646  122.715810
2020-11      14010436  162.157824
2020-12      16097584  186.314630
2021-01      17113150  198.068866
2021-02      15362563  177.807442
2021-03       4710430   54.518866

In [92]:
res = runs[["jobseconds"]].groupby(runs.workflowid).agg({"jobseconds":["sum","count","max"]})
res["jobdays"] = res["jobseconds"]["sum"] / 60 / 60 / 24
res

           jobseconds                    jobdays
                  sum count     max
workflowid
4453         43351096  2946   90304   501.748796
8247        135659792  6069  122992  1570.136481
582975          26553  5274      47     0.307326
1756117             0     3       0     0.000000
2340159          1063   190      18     0.012303
3260434          1466     1    1466     0.016968